<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeEducationMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Education Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Employee ID" formControlName="emp_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Education Type" formControlName="education_Type" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Institution Name" formControlName="name_of_Institution" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="University Name" formControlName="name_of_Board_University" />
          </mat-form-field>

        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput [matDatepicker]="fromPicker" formControlName="fromYear" placeholder="From Year" />
              <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
              <mat-datepicker #fromPicker disabled="false"></mat-datepicker>

            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput [matDatepicker]="ToPicker" formControlName="toYear" placeholder="To Year" />
              <mat-datepicker-toggle matSuffix [for]="ToPicker"></mat-datepicker-toggle>
              <mat-datepicker #ToPicker disabled="false"></mat-datepicker>

            </mat-form-field>

          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Description" formControlName="description" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="PDF Copy" formControlName="pdfCopy" />
            </mat-form-field>

          </div>
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="full-width-input">
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option value="ACTIVE">ACTIVE</mat-option>
                  <mat-option value="INACTIVE">INACTIVE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>

      <div class="row" id="wrapper">
        <div *ngIf="!editMode">
          <div class="col-md-12">
            <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
              Reset
            </button>
            <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('employeeEducationMasters').value); openSnackBar()"
                    [disabled]="!(form.get('employeeEducationMasters').valid)" matTooltip="Submit Employee Education Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
              Submit
            </button>
          </div>
        </div>
        <div *ngIf="editMode">
          <div class="col-md-12">
            <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
              Reset
            </button>
            <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeEducationMasters').value); updateSnackBar()"
                    [disabled]="!(form.get('employeeEducationMasters').valid)" matTooltip="Update Employee Education Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
              Update
            </button>
          </div>
        </div>

      </div>



      <div class="mat-elevation-z8">
        <mat-form-field class="search">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="employee_Address_Master_ID" matSortDirection="desc" class="mat-elevation-z8">

          <ng-container matColumnDef="employee_Education_Master_ID">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Dependent ID</th>
            <td mat-cell *matCellDef="let element">{{ element.employee_Education_Master_ID }}</td>
          </ng-container>
          <ng-container matColumnDef="emp_ID">
            <th mat-header-cell *matHeaderCellDef>Employee ID</th>
            <td mat-cell *matCellDef="let element">{{ element.emp_ID }}</td>
          </ng-container>
          <ng-container matColumnDef="education_Type">
            <th mat-header-cell *matHeaderCellDef>Employee Type</th>
            <td mat-cell *matCellDef="let element">{{ element.education_Type }}</td>
          </ng-container>
          <ng-container matColumnDef="name_of_Institution">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Institution Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name_of_Institution }}</td>
          </ng-container>
          <ng-container matColumnDef="name_of_Board_University">
            <th mat-header-cell *matHeaderCellDef>Board University Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name_of_Board_University }}</td>
          </ng-container>
          <ng-container matColumnDef="fromYear">
            <th mat-header-cell *matHeaderCellDef>From Year</th>
            <td mat-cell *matCellDef="let element">{{ element.fromYear }}</td>
          </ng-container>
          <ng-container matColumnDef="toYear">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> To Year</th>
            <td mat-cell *matCellDef="let element">{{ element.toYear }}</td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{ element.description }}</td>
          </ng-container>
          <ng-container matColumnDef="pdfCopy">
            <th mat-header-cell *matHeaderCellDef>PDF COPY</th>
            <td mat-cell *matCellDef="let element">{{ element.pdfCopy }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
            <mat-cell *matCellDef="let row">
              <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.employee_Education_Master_ID)" matTooltip="Edit Employee Education Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
            </mat-cell>

           <!--   <button mat-raised-button color="warn" (click)="delete(row.employee_Education_Master_ID); deleteSnackBar()">
                <i class="material-icons" matTooltip="Delete Employee Eduacation Details" matTooltipClass="tooltip-red"
                   matTooltipPosition="right">delete</i></button>-->

          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>


    </div>
  </div>
