<mat-dialog-content class="mat-typography">
  <style>
    .my-drop-zone {
      border: dotted 3px lightgray;
      height: 200px;
    }

    .nv-file-over {
      border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
      border: dotted 5px green;
      height: 200px;
    }

    html,
    body {
      height: 100%;
    }

  </style>
  <div class="container" [formGroup]="form.get('bankDetails')">

    <mat-chip color="primary"> Account One</mat-chip>
    <div class="row" style="height: 50%">
      <mat-card><label style="color: brown;font: bold">Company Name :</label>{{companyObject.companyName}}
        <br>
        <label style="color:brown;font: bold"> Company Code :</label> {{companyObject.companyCode}}
        <br>
        <label style="color:brown;font: bold"> Industry Type :</label> {{companyObject.industryType}}
        <br>
        <label style="color: brown;font: bold"> Apply Type :</label> {{companyObject.applicationinfo6}}
      </mat-card>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field [ngStyle]="{'width': '170px'}">
          <mat-select placeholder="Institution Name" formControlName="bankName">
            <mat-option *ngFor="let item of bank" value="{{item.bankName}}">{{item.bankName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field [ngStyle]="{'width': '170px'}">
          <mat-select placeholder="Mode of Payment" formControlName="paidType">
            <mat-option *ngFor="let item of payment" value="{{item.paymentMode}}">{{item.paymentMode}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="receiptbank" placeholder="{{chequeInfo}}" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput type="number" formControlName="amountPaid" placeholder="Amount Paid" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="bankTransactionNo" placeholder="Transaction 1" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="bankTransactionNo2" placeholder="Transaction 2" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="receiptNumber15" placeholder="Form 15 Receipt Number" />
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="full-width-input">
          <input matInput formControlName="remark1" placeholder="Remark" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div style="margin-bottom: 20px" *ngIf="!editMode"><button mat-raised-button color="primary" (click)="submitBankDetails(form.get('bankDetails').value)"
          [disabled]="!(form.get('bankDetails').valid)">
          Submit Bank Details
        </button></div>
      <div style="margin-bottom: 20px" *ngIf="editMode"><button mat-raised-button color="primary" (click)="update(form.get('bankDetails').value)"
          [disabled]="!(form.get('bankDetails').valid)">
          Update Bank Details
        </button></div>
    </div>
  </div>

  <div class=" mat-elevation-z8">
    <table mat-table [dataSource]="dataSource1" matSort matSortActive="acconutID" matSortDirection="desc" class="mat-elevation-z8">
      <ng-container matColumnDef="acconutID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Account ID</th>
        <td mat-cell *matCellDef="let element">{{ element.acconutID }}</td>
      </ng-container>
      <ng-container matColumnDef="companyCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</th>
        <td mat-cell *matCellDef="let element">{{ element.companyCode }}</td>
      </ng-container>
      <ng-container matColumnDef="paidType">
        <th mat-header-cell *matHeaderCellDef>Mode of payment</th>
        <td mat-cell *matCellDef="let element">{{ element.paidType }}</td>
      </ng-container>
      <ng-container matColumnDef="bankName">
        <th mat-header-cell *matHeaderCellDef>Bank Name</th>
        <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
      </ng-container>
      <ng-container matColumnDef="receiptNumber15">
        <th mat-header-cell *matHeaderCellDef>Receipt Number 15</th>
        <td mat-cell *matCellDef="let element">{{ element.receiptNumber15 }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button style="color: #e65100" (click)="edit(row)" matTooltipClass="tooltip-yellow" matTooltip="Edit" matTooltipPosition="right"><i
              class="material-icons">edit</i></button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>


</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
