<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('bankMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Bank Master</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Name" formControlName="bankName" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Account Number" formControlName="bankAccountNo" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Address1" formControlName="bankAddress1" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Address2" formControlName="bankAddress2" />
          </mat-form-field>
        </div>
      
      </div>


      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Address3" formControlName="bankAddress3" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Manager" formControlName="manager" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="City" formControlName="city" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="State" formControlName="state" />
          </mat-form-field>
        </div>
       
      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Pincode" formControlName="pincode" />
          </mat-form-field>
        </div>
        <!-- <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Phoneno" formControlName="phoneno" />
          </mat-form-field>
        </div> -->
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Faxno" formControlName="faxno" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="EmailId" formControlName="emailId" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Website" formControlName="website" />
            </mat-form-field>
          </div>
      </div>
      <div class="row">
         
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>



    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('bankMasters').value);openSnackBar()" [disabled]="!(form.get('bankMasters').valid)" matTooltip="Submit Bank Details Details"
            matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset the Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('bankMasters').value);updateSnackBar()"
            [disabled]="!(form.get('bankMasters').valid)" matTooltip="Update Bank Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>


      <table mat-table [dataSource]="dataSource" matSort matSortActive="bankmasterId" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="bankmasterId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Id</th>
          <td mat-cell *matCellDef="let element">{{ element.bankmasterId }}</td>
        </ng-container>
        <ng-container matColumnDef="bank_Code">
          <th mat-header-cell *matHeaderCellDef>Bank Code</th>
          <td mat-cell *matCellDef="let element">{{ element.bank_Code }}</td>
        </ng-container>
        <ng-container matColumnDef="bankName" style="width:250px">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Name</th>
          <td mat-cell *matCellDef="let element">{{ element.bankName }}</td>
        </ng-container>
        <ng-container matColumnDef="bankAccountNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Account No</th>
            <td mat-cell *matCellDef="let element">{{ element.bankAccountNo }}</td>
          </ng-container>
        <ng-container matColumnDef="bankAddress1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Address</th>
          <td mat-cell *matCellDef="let element">{{ element.bankAddress1 }}</td>
        </ng-container>
        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef>Manager</th>
          <td mat-cell *matCellDef="let element">{{ element.manager }}</td>
        </ng-container>
      
        
        <ng-container matColumnDef="pincode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pin Code</th>
          <td mat-cell *matCellDef="let element">{{ element.pincode }}</td>
        </ng-container>
        <ng-container matColumnDef="emailId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email ID</th>
          <td mat-cell *matCellDef="let element">{{ element.emailId }}</td>
        </ng-container>
        <ng-container matColumnDef="website">
          <th mat-header-cell *matHeaderCellDef>Website</th>
          <td mat-cell *matCellDef="let element">{{ element.website }}</td>
        </ng-container>


        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.bankmasterId)" matTooltip="Edit Bank Details"
                matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
            <!--<button mat-raised-button color="warn" (click)="delete(row.bankmasterId);deleteSnackBar()"><i class="material-icons"
                matTooltip="Delete Bank Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>
          </mat-cell>-->
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
