<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeDependentMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Dependent Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Employee ID" formControlName="emp_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Dependent Type" formControlName="dependent_type" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Dependent Name" formControlName="dependent_Name" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="dobPicker" formControlName="doB_of_Dependent" placeholder="Date Of Birth" />
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker disabled="false"></mat-datepicker>

          </mat-form-field>
        </div>
        <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Dependent status" formControlName="dependent_Status" />
          </mat-form-field>

        </div>

            <div class="col-md-3">
              <mat-form-field class="full-width-input">
                <mat-select placeholder="Status" formControlName="status">
                  <mat-option value="ACTIVE">ACTIVE</mat-option>
                  <mat-option value="INACTIVE">INACTIVE</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
      </div>

    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('employeeDependentMasters').value); openSnackBar()"
                  [disabled]="!(form.get('employeeDependentMasters').valid)" matTooltip="Submit Employee Dependent Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeDependentMasters').value); updateSnackBar()"
                  [disabled]="!(form.get('employeeDependentMasters').valid)" matTooltip="Update Employee Dependent Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="employee_Address_Master_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="employee_Dependents_Master_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Dependent ID</th>
          <td mat-cell *matCellDef="let element">{{ element.employee_Dependents_Master_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_ID">
          <th mat-header-cell *matHeaderCellDef>Employee ID</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="dependent_type">
          <th mat-header-cell *matHeaderCellDef>Dependent Type</th>
          <td mat-cell *matCellDef="let element">{{ element.dependent_type }}</td>
        </ng-container>
        <ng-container matColumnDef="dependent_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dependent Name</th>
          <td mat-cell *matCellDef="let element">{{ element.dependent_Name }}</td>
        </ng-container>
        <ng-container matColumnDef="doB_of_Dependent">
          <th mat-header-cell *matHeaderCellDef>DOB</th>
          <td mat-cell *matCellDef="let element">{{ element.doB_of_Dependent }}</td>
        </ng-container>
        <ng-container matColumnDef="dependent_Status">
          <th mat-header-cell *matHeaderCellDef>Dependent Status</th>
          <td mat-cell *matCellDef="let element">{{ element.dependent_Status }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.employee_Dependents_Master_ID)" matTooltip="Edit Employee Dependent Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>

          <!--  <button mat-raised-button color="warn" (click)="delete(row.employee_Dependents_Master_ID); deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Employee Dependent Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
