<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('setUpRateMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Report Template Type Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Setup SSP value  " formControlName="setupSSPValue" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Dollar Value " formControlName="setupDollerValue" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Setup Type " formControlName="setupType" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="unitMaster " formControlName="unitMaster" />
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Cost  " formControlName="cost" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <mat-select placeholder="Status" formControlName="status">
                <mat-option value="ACTIVE">ACTIVE</mat-option>
                <mat-option value="INACTIVE">INACTIVE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Remark" formControlName="remark" />
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('setUpRateMasters').value);openSnackBar()"
                  [disabled]="!(form.get('setUpRateMasters').valid)" matTooltip="Submit Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('setUpRateMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('setUpRateMasters').valid)" matTooltip="Update Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="setupriceID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="setupriceID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Setup Price ID</th>
          <td mat-cell *matCellDef="let element">{{ element.setupriceID }}</td>
        </ng-container>
        <ng-container matColumnDef="setupCode">
          <th mat-header-cell *matHeaderCellDef>Setup Code</th>
          <td mat-cell *matCellDef="let element">{{ element.setupCode }}</td>
        </ng-container>
        <ng-container matColumnDef="setupSSPValue">
          <th mat-header-cell *matHeaderCellDef> SSP value</th>
          <td mat-cell *matCellDef="let element">{{ element.setupSSPValue }}</td>
        </ng-container>
        <ng-container matColumnDef="setupDollerValue">
          <th mat-header-cell *matHeaderCellDef>Doller Value</th>
          <td mat-cell *matCellDef="let element">{{ element.setupDollerValue }}</td>
        </ng-container>
        <ng-container matColumnDef="unitMaster">
          <th mat-header-cell *matHeaderCellDef>Unit Master</th>
          <td mat-cell *matCellDef="let element">{{ element.unitMaster }}</td>
        </ng-container>
        <ng-container matColumnDef="setupType">
          <th mat-header-cell *matHeaderCellDef> SetUp Type</th>
          <td mat-cell *matCellDef="let element">{{ element.setupType }}</td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef> Cost</th>
          <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
        </ng-container>
        <ng-container matColumnDef="created_By">
          <th mat-header-cell *matHeaderCellDef>Created By</th>
          <td mat-cell *matCellDef="let element">{{ element.created_By }}</td>
        </ng-container>
        <ng-container matColumnDef="edited_By">
          <th mat-header-cell *matHeaderCellDef>Edited By</th>
          <td mat-cell *matCellDef="let element">{{ element.edited_By }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.setupriceID)" matTooltip="Edit Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
   <!--         <button mat-raised-button color="warn" (click)="delete(row.setupriceID);deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
