::ng-deep mat-grid-tile {
  background: #3f51b5;
  color: white;
  // font-weight: bold;
  //font-size: larger;
  // opacity: 10%;
  //padding: 50px;
  // margin: 5px;
  //border-radius: 4px;
}

a {
  color: white;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-100 {
  font-size: 100px;
}
