<div class="container" style="padding-top:5%">
  <!--
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile> <i class="material-icons md-100">person_pin</i>
      <a routerLink="/applicantregistration">Applicant Registration</a>
    </mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">card_travel</i> <a routerLink="/companyregistration">Company Registration</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">card_travel</i><a routerLink="/companylists">Company List</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">assignment_returned</i><a routerLink="/applicationissue">Application Issue</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">assignment_turned_in</i> <a routerLink="/formcollect">Form Collection</a></mat-grid-tile>
  </mat-grid-list>
  <div style="margin: 1px"></div>
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile><i class="material-icons md-100">local_printshop</i><a routerLink="/scandepartment">Scan Department</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">create</i><a routerLink="/dataentry">Data Entry</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">done</i><a routerLink="/companyapproval">Director Approval</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">money</i> <a routerLink="/accountone">Account One</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">attach_money</i><a routerLink="/accounttwo">Account Two</a></mat-grid-tile>
  </mat-grid-list>
  <div style="margin: 1px"></div>
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile><i class="material-icons md-100">done_all</i><a routerLink="/companydgapproval">Company Final Approval</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">print</i><a routerLink="/cardprint">Card Print</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">credit_card</i><a routerLink="/cardwrite">Card Write</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">done_outline</i><a routerLink="/cardissue">Card Issue</a></mat-grid-tile>
    <mat-grid-tile><i class="material-icons md-100">folder</i><a routerLink="/MainMaster">Masters</a></mat-grid-tile>
  </mat-grid-list>
    <a *ngFor="let item of myWorkRoutes" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
    [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
    <mat-icon matListIcon> {{ item.icon }} </mat-icon>
    {{item.title}}
  </a>
-->



  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile *ngFor="let item of myWorkRoutes"> <i class="material-icons md-100">{{ item.icon }}</i>
      <a [routerLink]="[item.route]">{{item.title}}</a>
    </mat-grid-tile>
  </mat-grid-list>
</div>
