table {
  width: 100%;
}

th {
  background-color: #303f9f;
  color: white;
  font-size: 1em;
}


.search {
  float: right;
  width: 300px;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px;

}

.container {
  width: 90%;
}

.btn {

  height: 36px;
  width: 91px;
  margin-right: 13px;
  margin-bottom: 20px;
}

.tooltip-red {
  background: #f44336;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-yellow {
  background: #e65100;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-blue {
  background: #3f51b5;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-green {
  background: #1b5e20;
  font-family: 'Varela Round', sans-serif;
}
