<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('companyDetails')">
      <div class="row">
        <div class="col-md-12">
          <h3>Company Registration</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Company Name" formControlName="companyName" oninput="this.value = this.value.toUpperCase()" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Applicant Code" formControlName="applicantCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="TIN" formControlName="tin" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="E-Mail" formControlName="emailID" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Incorporation Number" formControlName="ieRegCertificateNo" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Phone Number" formControlName="phoneNo" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="CompanyType" formControlName="companyType">
              <mat-option *ngFor="let item of companyType" value={{item.companyTypeDesc}}>{{item.companyTypeDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Company Area Type" formControlName="companyAreaType">
              <mat-option *ngFor="let item of companyAreaType" value={{item.copmanyTypeArea}}>{{item.copmanyTypeArea}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Industry Type" formControlName="industryType">
              <mat-option *ngFor="let item of industryType" value={{item.industryName}}>{{item.industryName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Address 1" formControlName="address1" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Address 2" formControlName="address2" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Company Website" formControlName="address3" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '160px'}">
            <mat-select placeholder="Country" formControlName="country" (selectionChange)="getStateByCountry($event.value)">
              <mat-option *ngFor="let item of countries" value="{{item}}">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '160px'}">
            <mat-select placeholder="State" formControlName="state" (selectionChange)="getCityByState($event.value)">
              <mat-option *ngFor="let item of states" value="{{item}}">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '160px'}">
            <mat-select placeholder="City" formControlName="city">
              <mat-option *ngFor="let item of cities" value="{{item}}">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Pin Code" formControlName="pin" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Business Category Type" formControlName="applicationinfo1" oninput="this.value = this.value.toUpperCase()" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Remark" formControlName="remark" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltipClass="tooltip-red" matTooltip="Reset Form">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('companyDetails').value); openSnackBar();" [disabled]="!(form.get('companyDetails').valid)" matTooltipClass="tooltip-yellow"
            matTooltip="Create Company">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltipClass="tooltip-red" matTooltip="Reset Form">
            Reset
          </button>
          <button class="pull-right" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="update(companyId,form.get('companyDetails').value); updateSnackBar();" [disabled]="!(form.get('companyDetails').valid)"
            matTooltipClass="tooltip-blue" matTooltip="Update Company">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="companyID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="companyID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</th>
          <td mat-cell *matCellDef="let element">{{ element.companyID }}</td>
        </ng-container>
        <ng-container matColumnDef="companyName">
          <th mat-header-cell *matHeaderCellDef>Company Name</th>
          <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
        </ng-container>
        <ng-container matColumnDef="companyType">
          <th mat-header-cell *matHeaderCellDef>Company Type</th>
          <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
        </ng-container>
        <ng-container matColumnDef="companyAreaType">
          <th mat-header-cell *matHeaderCellDef>Company AreaType</th>
          <td mat-cell *matCellDef="let element">{{ element.companyAreaType }}</td>
        </ng-container>
        <ng-container matColumnDef="industryType">
          <th mat-header-cell *matHeaderCellDef>Industry Type</th>
          <td mat-cell *matCellDef="let element">{{ element.industryType }}</td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element">{{ element.country }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button color="warn" class="gridbutton"><i class="material-icons" (click)="edit(row.companyID)" matTooltip="Edit Company Details"
                matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
            <!--   <button mat-raised-button color="warn" (click)="delete(row.companyID)"><i class="material-icons">delete</i></button>-->
            <app-file-upload (click)="attach(row)" matTooltip="Upload Company Details" matTooltipClass="tooltip-green" matTooltipPosition="right">
            </app-file-upload>

          </mat-cell>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
