<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('transportTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Transport Type Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Transport Name" formControlName="transportName" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('transportTypeMasters').value);openSnackBar()"
                  [disabled]="!(form.get('transportTypeMasters').valid)" matTooltip="Submit Transport type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('transportTypeMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('transportTypeMasters').valid)" matTooltip="Update Transport type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="transportID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="transportID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Transport ID</th>
          <td mat-cell *matCellDef="let element">{{ element.transportID }}</td>
        </ng-container>
        <ng-container matColumnDef="transportCode">
          <th mat-header-cell *matHeaderCellDef>Transport Code</th>
          <td mat-cell *matCellDef="let element">{{ element.transportCode }}</td>
        </ng-container>
        <ng-container matColumnDef="transportName">
          <th mat-header-cell *matHeaderCellDef> Transport Name </th>
          <td mat-cell *matCellDef="let element">{{ element.transportName }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.transportID)" matTooltip="Edit Transport type Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
         <!--   <button mat-raised-button color="warn" (click)="delete(row.transportID);deleteSnackBar()"
                    matTooltip="Delete Transport type Details" matTooltipClass="tooltip-red" matTooltipPosition="right">
              <i class="material-icons">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
