// https://material.angular.io/guide/theming-your-components

.mat-sidenav-container {
  padding: 25px;
  height: 100%;
}

.mat-drawer {
  padding-left: 5px;
  padding-right: 5px;
}


.sidenav-container {
  height: 100%;
}

// https://github.com/angular/material2/blob/master/src/lib/core/style/_variables.scss

$sidenav-width: 240px; // 240px;

.mat-sidenav {
  padding-left: 5px;
  padding-right: 5px;
  width: $sidenav-width;
}

.toolbar-title {
  margin: 0 16px 0 16px;
}

.mat-subheader {
  font-size: 18px;
  font-weight: 900;
}

.app-nav-list-icon {
  margin: 0 100px 0 100px;

}



.mat-sidenav-content {
  overflow: hidden;
}


.sidenav {
  width: 400px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: auto;
}

a {
  color: white;
}
