<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>
      <img src="../../../assets/TradeLogo.png" height="60" width="60" style="margin-right: 15px" />
    </span>
    <span>Trade Suite v2.0</span>
    <span class="example-spacer" style="padding-right:60% "> </span>
    <a routerLink="/welcome" routerLinkActive>
      <button mat-flat-button>
        Home
      </button>
    </a>
    <span style="margin-right:10px;"></span>

    <h3 style="margin-right: 20px">Welcome {{loggedUserName}}</h3>
    <a [href]="helpPageUrl" download>
      <button mat-icon-button>
        <mat-icon style="height: 25px;">help</mat-icon>
      </button>
    </a>
    <!--
    <button mat-icon-button>
      <mat-icon style="height: 25px;">person</mat-icon>Person Namessss
    </button>

    <span class="example-spacer"> </span>
    -->

  </mat-toolbar-row>
</mat-toolbar>
