.form-control {
	box-shadow: none;
	border-color: #ddd;
	border-radius: 5px;
}

.form-control:focus {
	border-color: #4d98de;
}

.login-form {
	width: 350px;
	margin: 0 auto;
	padding: 30px 0;
}

.login-form form {
	color: #434343;
	border-radius: 10px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #f3f3f3;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h4 {
	text-align: center;
	font-size: 22px;
	margin-bottom: 20px;
}

.login-form .avatar {
	color: #fff;
	margin: 0 auto 30px;
	text-align: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 9;
	background: #4d98de;
	padding: 15px;

	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar i {
	font-size: 62px;
}

.login-form .form-group {
	margin-bottom: 20px;
}

.login-form .form-control,
.login-form .btn {
	min-height: 40px;
	border-radius: 8px;
	transition: all 0.5s;
}

.login-form .close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.login-form .btn {
	background: #4d98de;
	border: none;
	line-height: normal;
}

.login-form .btn:hover,
.login-form .btn:focus {
	background: #42ae68;
}

.login-form .checkbox-inline {
	float: left;
}

.login-form input[type="checkbox"] {
	margin-top: 2px;
}

.login-form .forgot-link {
	float: right;
}

.login-form .small {
	font-size: 13px;
}

.login-form a {
	color: #4d98de;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	width: 100%;
	padding: 2px;
}

.btn {
	height: 36px;
	width: 91px;
	margin-right: 13px;
	margin-bottom: 20px;
}

.tooltip-red {
	background: #f44336;
	font-family: 'Varela Round', sans-serif;
}

.tooltip-yellow {
	background: #e65100;
	font-family: 'Varela Round', sans-serif;
}

.tooltip-blue {
	background: #3f51b5;
	font-family: 'Varela Round', sans-serif;
}
