<div class="container">
  <div class="row">
    <div class=" col-lg-12">
      <app-customer-details [group]="form.get('customerDetails')"></app-customer-details>
    </div>
  </div>

  <div class="row" id="wrapper">
    <div *ngIf="!editMode">
      <div class="col-md-12">
        <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset the Form" matTooltipClass="tooltip-red">
          Reset
        </button>
        <button class="pull-right btn" mat-raised-button color="primary" (click)="submit(form.value); openSnackBar()"
          [disabled]="!(form.get('customerDetails').valid)" matTooltip="Submit Applicant Details" matTooltipClass="tooltip-blue">
          Submit
        </button>
      </div>
    </div>

    <div *ngIf="editMode">
      <div class="col-md-12">
        <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset the Form" matTooltipClass="tooltip-red">
          Reset
        </button>
        <button class="pull-right btn" mat-raised-button color="primary" (click)="submit(form.value,applicantID); updateSnackBar()"
          [disabled]="!(form.get('customerDetails').valid)" matTooltip="Update Applicant Details" matTooltipClass="tooltip-yellow">
          Update
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-applicant-grid></app-applicant-grid>
    </div>
  </div>
</div>

<!--
  <pre>{{ form.get("customerDetails.dateOfBirth").valid }}</pre>
<pre>{{ form.get("customerDetails.code").valid }}</pre>
<pre>{{ form.get("customerDetails.name").valid }}</pre>
<pre>{{ form.get("customerDetails.phoneNumber").valid }}</pre>
<pre>{{ form.get("customerDetails.email").valid }}</pre>
<pre>{{ form.get("customerDetails.mobileNumber").valid }}</pre>
<pre>{{ form.get("customerDetails.job").valid }}</pre>
<pre>{{ form.get("customerDetails.position").valid }}</pre>
<pre>{{ form.get("customerDetails.remark").valid }}</pre>
<pre>{{ form.get("customerDetails.job").valid }}</pre>
<pre>{{ form.get("customerDetails.position").valid }}</pre>
<pre>{{ form.get("customerDetails.address.address1").valid }}</pre>
<pre>{{ form.get("customerDetails.address.address2").valid }}</pre>
<pre>{{ form.get("customerDetails.address.address3").valid }}</pre>
<pre>{{ form.get("customerDetails.address.city").valid }}</pre>
<pre>{{ form.get("customerDetails.address.country").valid }}</pre>
<pre>{{ form.get("customerDetails.address.state").valid }}</pre>
<pre>{{ form.get("customerDetails.address.pin").valid }}</pre>
[disabled]="!form.get('customerDetails').valid"
-->
