<script src="../bank/bank.component.spec.ts"></script>
<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('bankrateMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Bank Rate Type Master</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Curreny Master" formControlName="bankCurrenyMaster" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Rate Master" formControlName="bankRateMaster" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Bank Rate PerUnit" formControlName="bankRatePerUnit" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="To Bank Curreny" formControlName="toBankCurreny" />
          </mat-form-field>
        </div>
      </div>


      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="To Bank Rate Master" formControlName="toBankRateMaster" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="To Bank Rate PerUnit" formControlName="toBankRatePerUnit" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Remark" formControlName="remark" />
          </mat-form-field>
        </div>

      </div>
    </div>



    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('bankrateMasters').value); openSnackBar();" [disabled]="!(form.get('bankrateMasters').valid)"
            matTooltip="Submit BankRate Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('bankrateMasters').value);updateSnackBar()"
            [disabled]="!(form.get('bankrateMasters').valid)" matTooltip="Submit Bank Rate Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>


      <table mat-table [dataSource]="dataSource" matSort matSortActive="bankRateID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="bankRateID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BankRate Id</th>
          <td mat-cell *matCellDef="let element">{{ element.bankRateID }}</td>
        </ng-container>
        <ng-container matColumnDef="bankRateMasterCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BankRate Code</th>
          <td mat-cell *matCellDef="let element">{{ element.bankRateMasterCode }}</td>
        </ng-container>
        <ng-container matColumnDef="bankCurrenyMaster">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank currency</th>
          <td mat-cell *matCellDef="let element">{{ element.bankCurrenyMaster }}</td>
        </ng-container>
        <ng-container matColumnDef="bankRateMaster">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>BankRate Master</th>
          <td mat-cell *matCellDef="let element">{{ element.bankRateMaster }}</td>
        </ng-container>
        <ng-container matColumnDef="bankRatePerUnit">
          <th mat-header-cell *matHeaderCellDef>BankRate PerUnit</th>
          <td mat-cell *matCellDef="let element">{{ element.bankRatePerUnit }}</td>
        </ng-container>
        <ng-container matColumnDef="toBankCurreny">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To Bank Currency</th>
          <td mat-cell *matCellDef="let element">{{ element.toBankCurreny }}</td>
        </ng-container>
        <ng-container matColumnDef="toBankRateMaster">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>To BankRate Master</th>
          <td mat-cell *matCellDef="let element">{{ element.toBankRateMaster }}</td>
        </ng-container>
        <ng-container matColumnDef="toBankRatePerUnit">
          <th mat-header-cell *matHeaderCellDef>To BankRate PerUnit</th>
          <td mat-cell *matCellDef="let element">{{ element.toBankRatePerUnit }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.bankRateID); "
                matTooltip="Edit Bank Rate Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
           <!-- <button mat-raised-button color="warn" (click)="delete(row.bankRateID); deleteSnackBar()"><i class="material-icons"
                matTooltip="Delete Bank Rate Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
