<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('documentAssignTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Document Assign Type Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-8">
          <mat-form-field [ngStyle]="{'width': '600px'}">
            <mat-select placeholder="Apply Type" formControlName="receiptNameCode">
              <mat-option *ngFor="let item of applyType"
                          value="{{item.typeCode}}-{{item.applyType}}-{{item.year}}-{{item.companyType}}-{{item.companyAreaType}}-{{item.receiptType}}">
                {{item.typeCode}}-{{item.applyType}}-{{item.year}}-{{item.companyType}}-{{item.companyAreaType}}-{{item.receiptType}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field [ngStyle]="{'width': '600px'}">
            <mat-select placeholder="Document Type" formControlName="docNameCode">
              <mat-option *ngFor="let item of documentType" value="{{item.docDescription}}">{{item.docDescription}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
                  matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
                  (click)="add(form.get('documentAssignTypeMasters').value); openSnackBar()" [disabled]="!(form.get('documentAssignTypeMasters').valid)"
                  matTooltip="Submit DocumentAssignType Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
                  matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('documentAssignTypeMasters').value); updateSnackBar()"
                  [disabled]="!(form.get('documentAssignTypeMasters').valid)" matTooltip="Update DocumentAssignType Details" matTooltipClass="tooltip-blue"
                  matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="docForStageID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="docForStageID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.docForStageID }}</td>
        </ng-container>
        <ng-container matColumnDef="receiptNameCode">
          <th mat-header-cell *matHeaderCellDef>Apply Type </th>
          <td mat-cell *matCellDef="let element">{{ element.receiptNameCode }}</td>
        </ng-container>
        <ng-container matColumnDef="docNameCode">
          <th mat-header-cell *matHeaderCellDef>Document Type</th>
          <td mat-cell *matCellDef="let element">{{ element.docNameCode }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.docForStageID)"
                                                                          matTooltip="Edit DocumentAssignType Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!-- <button mat-raised-button color="warn" (click)="delete(row.docForStageID); deleteSnackBar()"><i class="material-icons"
              matTooltip="Delete DocumentAssignType Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
