<nav class="docs-navbar-header">
  <a
    aria-label="Database Comparision"
    class="docs-button mat-button"
    mat-button=""
    routerlink="/"
    tabindex="0"
    aria-disabled="false"
    href="/"
  >
    <span class="mat-button-wrapper">
      <img
        alt="Trade"
        class="docs-angular-logo"
        src="../../../assets/tradesuite.png"
      />
    </span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a
    class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
    mat-button=""
    tabindex="0"
    aria-disabled="false"
    href="/register"
  >
    <span class="mat-button-wrapper">Register</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a
    class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
    mat-button=""
    tabindex="0"
    aria-disabled="false"
    href="/history"
  >
    <span class="mat-button-wrapper">Assinged To Me</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <a
    class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"
    mat-button=""
    tabindex="0"
    aria-disabled="false"
    href="/filter"
  >
    <span class="mat-button-wrapper">Filter</span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>
  <div class="flex-spacer"></div>
  <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted">
    <span class="mat-button-wrapper">
      <i class="material-icons"> update </i>
    </span>
  </a>

  <a
    aria-label="Profile"
    class="docs-button mat-button"
    mat-button=""
    routerlink="/"
    tabindex="0"
    aria-disabled="false"
    href="/login"
  >
    <span class="mat-button-wrapper">
      <i class="material-icons">person</i> Login
    </span>
    <div class="mat-button-ripple mat-ripple" matripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

</nav>

