.docs-navbar-header[_ngcontent-c1] {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}
.docs-navbar-header[_ngcontent-c1] > .mat-button[_ngcontent-c1]:last-child {
  margin-left: auto;
}
.flex-spacer[_ngcontent-c1] {
  flex-grow: 1;
}
.docs-angular-logo[_ngcontent-c1] {
  height: 26px;
  margin: 0 4px 3px 0;
  vertical-align: middle;
}
.docs-github-logo[_ngcontent-c1] {
  height: 21px;
  margin: 0 7px 2px 0;
  vertical-align: middle;
}
.docs-navbar-link[_ngcontent-c1] {
  text-decoration: inherit;
  flex: 1;
}
.docs-navbar[_ngcontent-c1],
.docs-navbar-show-small[_ngcontent-c1] {
  display: none;
}
@media (max-width: 720px) {
  .docs-navbar-hide-small[_ngcontent-c1] {
    display: none;
  }
  .docs-navbar-show-small[_ngcontent-c1] {
    display: block;
  }
  .docs-navbar[_ngcontent-c1] {
    display: flex;
  }
  .docs-navbar--github-logo[_ngcontent-c1] {
    margin: 0;
  }
}
