<mat-dialog-content class="mat-typography">
  <style>
    .my-drop-zone {
      border: dotted 3px lightgray;
      height: 200px;
    }

    .nv-file-over {
      border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
      border: dotted 5px green;
      height: 200px;
    }

    html,
    body {
      height: 100%;
    }

  </style>

  <div class="container">
    <h2 *ngIf="!commonFunction.isDgApproval">Director Approval</h2>
    <h2 *ngIf="commonFunction.isDgApproval">Final Approval</h2>
    <mat-card><label style="color: brown;font: bold">Company Name :</label>{{companyObject.companyName}}
      <br>
      <label style="color:brown;font: bold"> Company Code :</label> {{companyObject.companyCode}}
      <br>
      <label style="color:brown;font: bold"> Industry Type :</label> {{companyObject.industryType}}
      <br>
      <label style="color: brown;font: bold"> Apply Type :</label> {{licenseType}}
    </mat-card>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field style="margin-right: 10px">
          <input matInput [matDatepicker]="fromDate" placeholder="From Date" [(ngModel)]="fromDateModel" (ngModelChange)="setToDate()"
            [disabled]="commonFunction.isDgApproval || isAddOnFlow">
          <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
          <mat-datepicker #fromDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="toDate" placeholder="To Date" [(ngModel)]="toDateModel" disabled>
          <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
          <mat-datepicker #toDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <br>
    <br>


    <div class="row" *ngIf="!isDgApproval">

      <div class="col-md-4" *ngIf="displayIssueButton">
        <a [href]="invoicePrintCertButtonUrl1" download><button mat-raised-button color="primary">Gvt Fee Invoice</button></a>
      </div>
      <div class="col-md-4" *ngIf="displayIssueButton">
        <a [href]="invoicePrintCertButtonUrl2" download><button mat-raised-button color="primary">Administration Fees Invoice</button></a>
      </div>
      <div class="col-md-4" *ngIf="displayIssueButton && isNotCertificationPdf">
        <a [href]="invoicePrintCertButtonUrl3" download><button mat-raised-button color="primary">User Fee Invoice</button></a>
      </div>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;margin-right: 10px" (click)="approveLicense();"
      *ngIf="!commonFunction.isDgApproval">Approve</button>
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
  </div>
</mat-dialog-actions>
