<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Pending Applicants for Company Registration</h3>
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="changeTableFilter($event)" animationDuration="2000ms" mat-stretch-tabs>
    <mat-tab label="Pending Registration">
      <mat-chip color="primary" selected>Pending Companies</mat-chip>
    </mat-tab>
    <mat-tab label="Company Registered">
      <mat-chip color="primary" selected>Processed Companies</mat-chip>
    </mat-tab>
    <mat-tab label="Company Renewal">
      <mat-chip color="primary" selected>Company Renewal</mat-chip>
    </mat-tab>
  </mat-tab-group>
  <div class="row">
    <mat-chip-list class="mat-chip-list-stacked pull-right">
      <mat-chip color="primary" selected style="right:20%">
        Total Records : {{paginator.length}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="mat-elevation-z8">
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="applicantID" matSortDirection="desc" class="mat-elevation-z8">
      <ng-container matColumnDef="applicantID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Applicant Id</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantID }}</td>
      </ng-container>
      <ng-container matColumnDef="applicantCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Applicant Code</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantCode }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.title  }} {{ element.firstName  }} {{ element.surName }}</td>
      </ng-container>
      <ng-container matColumnDef="emailID">
        <th mat-header-cell *matHeaderCellDef>EMail</th>
        <td mat-cell *matCellDef="let element">{{ element.emailID }}</td>
      </ng-container>
      <ng-container matColumnDef="phoneNo">
        <th mat-header-cell *matHeaderCellDef>Phone No</th>
        <td mat-cell *matCellDef="let element">{{ element.phoneNo }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
        <mat-cell *matCellDef="let row">
          <a routerLink="/company"><button mat-raised-button color="primary" color="primary" (click)="applicantCode(row.applicantCode)" *ngIf="showApprove"
              matTooltipClass="tooltip-blue" matTooltip="Add Company For Applicant" matTooltipPosition="left" class="gridbutton"><i class="material-icons">
                business_center
              </i></button></a>
          <a routerLink="/companyrenewalgrid"><button mat-raised-button color="primary" color="primary" (click)="applicantCode(row.applicantCode)"
              *ngIf="showRenew" matTooltipClass="tooltip-blue" matTooltip="Renew License for Company" matTooltipPosition="left" class="gridbutton"><i
                class="material-icons">
                autorenew
              </i></button></a>
          <button mat-raised-button style="color: green" (click)="approve(row.applicantID)" *ngIf="showApprove" matTooltipClass="tooltip-green"
            matTooltip="Approve as Company Added" class="gridbutton"><i class="material-icons">offline_pin</i></button>
          <button mat-raised-button color="warn" (click)="reject(row.applicantID)" *ngIf="showReject" matTooltipClass="tooltip-red"
            matTooltip="Send back to Modify Company Details" class="gridbutton"><i class="material-icons">highlight_off</i></button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
