<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">
    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Trade Suite v2.0</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <h2 matSubheader>Login</h2>
      <a *ngFor="let item of loginRoute" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>

    <mat-nav-list>
      <h2 matSubheader>Registration</h2>
      <a *ngFor="let item of myWorkRoutes" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>

    </mat-nav-list>
    <mat-nav-list>
      <h2 matSubheader>Masters</h2>
      <a *ngFor="let item of mainMastersRoutes" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>

    </mat-nav-list>
    <mat-nav-list>
      <h2 matSubheader>Logout</h2>
      <a *ngFor="let item of logOutRoutes" mat-list-item (click)="logout();sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="sidenav.toggle();getChangeUserRole();">
    </app-navigation-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
