<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('hsMainMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>HS Main Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HSMM Code" formControlName="hsmmCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HSCM Code" formControlName="hscmCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HSHM Code" formControlName="hshmCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HSSM Code" formControlName="hssmCode" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HCustomMCode" formControlName="hCustomMCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Custom Header" formControlName="customHeader" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Receipt Type" formControlName="receiptType" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Currency Type" formControlName="currencyType" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Unit" formControlName="unit" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Quantity" formControlName="quantity" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="IPrice" formControlName="iPrice" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="EPrice" formControlName="ePrice" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="XPrice" formControlName="xPrice" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Country Orgin" formControlName="countryOrgin" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Country Code" formControlName="countryCode" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Remark" formControlName="remark" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('hsMainMasters').value); openSnackBar()"
                  [disabled]="!(form.get('hsMainMasters').valid)"  matTooltip="Submit HS Main Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('hsMainMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('hsMainMasters').valid)"  matTooltip="Update HS Main Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="hsh" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="hsid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>HS Id</th>
          <td mat-cell *matCellDef="let element">{{ element.hsid }}</td>
        </ng-container>
        <ng-container matColumnDef="hsmmCode">
          <th mat-header-cell *matHeaderCellDef>HSMM Code</th>
          <td mat-cell *matCellDef="let element">{{ element.hsmmCode }}</td>
        </ng-container>
        <ng-container matColumnDef="hscmCode">
          <th mat-header-cell *matHeaderCellDef> HSCM Code</th>
          <td mat-cell *matCellDef="let element">{{ element.hscmCode }}</td>
        </ng-container>
        <ng-container matColumnDef="hshmCode">
          <th mat-header-cell *matHeaderCellDef> HSHM Code</th>
          <td mat-cell *matCellDef="let element">{{ element.hshmCode }}</td>
        </ng-container>
        <ng-container matColumnDef="hssmCode">
          <th mat-header-cell *matHeaderCellDef>HSSM Code</th>
          <td mat-cell *matCellDef="let element">{{ element.hssmCode }}</td>
        </ng-container>
        <ng-container matColumnDef="hCustomMCode">
          <th mat-header-cell *matHeaderCellDef>HCustom Code</th>
          <td mat-cell *matCellDef="let element">{{ element.hCustomMCode }}</td>
        </ng-container>
        <ng-container matColumnDef="customHeader">
          <th mat-header-cell *matHeaderCellDef>Customer Header</th>
          <td mat-cell *matCellDef="let element">{{ element.customHeader }}</td>
        </ng-container>
        <ng-container matColumnDef="receiptType">
          <th mat-header-cell *matHeaderCellDef>Receipt Type</th>
          <td mat-cell *matCellDef="let element">{{ element.receiptType }}</td>
        </ng-container>
        <ng-container matColumnDef="currencyType">
          <th mat-header-cell *matHeaderCellDef>Currency Type </th>
          <td mat-cell *matCellDef="let element">{{ element.currencyType }}</td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef>Remark</th>
          <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.hsid)"  matTooltip="Edit HS Main Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
            <!-- <button mat-raised-button color="warn" (click)="delete(row.hsid); deleteSnackBar()">
              <i class="material-icons"  matTooltip="Delete HS Main Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
