<div id="content" #content>
  <mat-card>
    <div>
      <input type="button" value="Generate Receipt" (click)="captureScreen()" />
    </div>
  </mat-card>
</div>
<div>
  <div style="width:1000px;font-size: x-large" id="contentToConvert">
    <mat-card>
      <h1 style="text-align: center;"><strong>Receipt for Trade Suite</strong></h1>
      <table style="width: 1000px; height: 381px;">
        <tbody>
          <tr>
            <td style="width: 500px; padding: 50px;">
              <p><span style="text-decoration: underline;"><strong>Applicant Details</strong></span></p>
              <p>Name:&nbsp;Mr .Manohar GS</p>
              <p>Age: 30</p>
              <p>Passport: XYZ123456</p>
              <p>Nationality: INDIAN</p>
              <p>E-Mail : <a href="mailto:xyz@gmail.com">xyz@gmail.com</a></p>
              <p>Phone Number: 123654789</p>
            </td>
            <td style="width: 500px; height: 381px;">
              <p><span style="text-decoration: underline;"><strong>Company Details</strong></span></p>
              <p>Name: XYZ</p>
              <p>Address 1: XYZ</p>
              <p>Address 2: XYZ</p>
              <p>STATE: XYZ</p>
              <p>COUNTRY: XYS</p>
              <p>E-Mail: <a href="mailto:xyz@gmail.com">xyz@gmail.com</a></p>
              <p>Phone Number: 123654789</p>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div>
</div>
