<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeGradeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Grade Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Grade Description" formControlName="grade_Description" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Grade Level" formControlName="grade_Level" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Designation Id" formControlName="designation_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Staff Category" formControlName="staff_Category" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('employeeGradeMasters').value); openSnackBar()"
                  [disabled]="!(form.get('employeeGradeMasters').valid)" matTooltip="Submit Employee Grade Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeGradeMasters').value); updateSnackBar()"
                  [disabled]="!(form.get('employeeGradeMasters').valid)" matTooltip="Update Employee Grade Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="grade_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="grade_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade ID</th>
          <td mat-cell *matCellDef="let element">{{ element.grade_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="grade_Code">
          <th mat-header-cell *matHeaderCellDef>Grade Code</th>
          <td mat-cell *matCellDef="let element">{{ element.grade_Code }}</td>
        </ng-container>
        <ng-container matColumnDef="grade_Description">
          <th mat-header-cell *matHeaderCellDef>Grade Description</th>
          <td mat-cell *matCellDef="let element">{{ element.grade_Description }}</td>
        </ng-container>
        <ng-container matColumnDef="grade_Level">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Grade Level</th>
          <td mat-cell *matCellDef="let element">{{ element.grade_Level }}</td>
        </ng-container>
        <ng-container matColumnDef="designation_ID">
          <th mat-header-cell *matHeaderCellDef>Designation Id</th>
          <td mat-cell *matCellDef="let element">{{ element.designation_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="staff_Category">
          <th mat-header-cell *matHeaderCellDef>Staff Category</th>
          <td mat-cell *matCellDef="let element">{{ element.staff_Category }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.grade_ID)" matTooltip="Edit Employee Grade Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
            <!-- <button mat-raised-button color="warn" (click)="delete(row.grade_ID); deleteSnackBar()"><i class="material-icons" matTooltip="Delete Employee Grade Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
