<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('locationTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Location Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Country" formControlName="country" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="State" formControlName="state" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="City" formControlName="city" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('locationTypeMasters').value); openSnackBar()"
                  [disabled]="!(form.get('locationTypeMasters').valid)"  matTooltip="Submit Industry Type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('locationTypeMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('locationTypeMasters').valid)" matTooltip="Update Industry Type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="cscid" matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="cscid">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.cscid }}</td>
        </ng-container>
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
          <td mat-cell *matCellDef="let element">{{ element.country }}</td>
        </ng-container>
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let element">{{ element.state }}</td>
        </ng-container>
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>City</th>
          <td mat-cell *matCellDef="let element">{{ element.city }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.cscid)" matTooltip="Edit Location Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!--  <button mat-raised-button color="warn" (click)="delete(row.cscid);deleteSnackBar()"><i class="material-icons" matTooltip="Delete Industry Type Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
