<div class="form-group" [formGroup]="group">
  <div class="row">
    <div class="col-md-12">
      <h3>Applicant Registration</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="First Name" formControlName="firstName" oninput="this.value = this.value.toUpperCase()" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Last Name" formControlName="surName" oninput="this.value = this.value.toUpperCase()" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="E-Mail" formControlName="emailID" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Phone Number" formControlName="phoneNo" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput [matDatepicker]="dobPicker" formControlName="dob" placeholder="Date Of Birth" />
        <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
        <mat-datepicker #dobPicker disabled="false"></mat-datepicker>
        <mat-error *ngIf="group.hasError('dobNull')">Please enter the Date Of Birth</mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field [ngStyle]="{'width': '160px'}">
        <mat-select placeholder="Country" formControlName="country" (selectionChange)="getStateByCountry($event.value)">
          <mat-option *ngFor="let item of countries" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-form-field [ngStyle]="{'width': '160px'}">
        <mat-select placeholder="State" formControlName="state" (selectionChange)="getCityByState($event.value)">
          <mat-option *ngFor="let item of states" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field [ngStyle]="{'width': '160px'}">
        <mat-select placeholder="City" formControlName="city">
          <mat-option *ngFor="let item of cities" value="{{item}}">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Passport Number" formControlName="passportNo" oninput="this.value = this.value.toUpperCase()" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nationality ID Card No" formControlName="socialSecurityNo" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Remark" formControlName="remark1" />
      </mat-form-field>
    </div>
  </div>
</div>
