<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeSalaryMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Salary Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Employee ID" formControlName="emp_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Basic Salary" formControlName="basicSalary" />
        </mat-form-field>
      </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="PF" formControlName="pf" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="HRA" formControlName="hra" />
          </mat-form-field>
        </div>

      </div>

      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Transport" formControlName="transport" />
          </mat-form-field>
        </div>
      <div class="col-md-3">
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Bonus" formControlName="bonus" />
        </mat-form-field>
    </div>

          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <mat-select placeholder="Status" formControlName="status">
                <mat-option value="ACTIVE">ACTIVE</mat-option>
                <mat-option value="INACTIVE">INACTIVE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('employeeSalaryMasters').value); openSnackBar()"
                  [disabled]="!(form.get('employeeSalaryMasters').valid)" matTooltip="Submit Employee Salary Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeSalaryMasters').value); updateSnackBar()"
                  [disabled]="!(form.get('employeeSalaryMasters').valid)" matTooltip="Update Employee Salry Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="employee_Salary_Master_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="employee_Salary_Master_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary ID</th>
          <td mat-cell *matCellDef="let element">{{ element.employee_Salary_Master_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_ID">
          <th mat-header-cell *matHeaderCellDef>Employee ID</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="basicSalary">
          <th mat-header-cell *matHeaderCellDef>Basic Salary</th>
          <td mat-cell *matCellDef="let element">{{ element.basicSalary }}</td>
        </ng-container>
        <ng-container matColumnDef="pf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>PF</th>
          <td mat-cell *matCellDef="let element">{{ element.pf }}</td>
        </ng-container>
        <ng-container matColumnDef="hra">
          <th mat-header-cell *matHeaderCellDef>HRA</th>
          <td mat-cell *matCellDef="let element">{{ element.hra }}</td>
        </ng-container>
        <ng-container matColumnDef="transport">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Transport</th>
          <td mat-cell *matCellDef="let element">{{ element.transport }}</td>
        </ng-container>
        <ng-container matColumnDef="bonus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bonus</th>
          <td mat-cell *matCellDef="let element">{{ element.bonus }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.employee_Salary_Master_ID)" matTooltip="Edit Employee Salary Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
           <!-- <button mat-raised-button color="warn" (click)="delete(row.employee_Salary_Master_ID); deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Employee Salary Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
