<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Companies List Pending Card Print</h3>
    </div>
  </div>
  <mat-tab-group (selectedTabChange)="changeTableFilter($event)" animationDuration="2000ms" mat-stretch-tabs>
    <mat-tab label="Pending">
      <mat-chip color="primary" selected>Pending Company For Card Print</mat-chip>
    </mat-tab>
    <mat-tab label="Approved">
      <mat-chip color="accent" selected>Completed Company For Card Print</mat-chip>
    </mat-tab>
  </mat-tab-group>
  <div class="row">
    <mat-chip-list class="mat-chip-list-stacked pull-right">
      <mat-chip color="primary" selected style="right:20%">
        Total Records : {{paginator.length}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="mat-elevation-z8">
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="companyID" matSortDirection="desc" class="mat-elevation-z8">

      <ng-container matColumnDef="companyID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</th>
        <td mat-cell *matCellDef="let element">{{ element.companyID }}</td>
      </ng-container>
      <ng-container matColumnDef="companyCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company Code</th>
        <td mat-cell *matCellDef="let element">{{ element.companyCode }}</td>
      </ng-container>
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>
      <ng-container matColumnDef="applicationinfo6">
        <th mat-header-cell *matHeaderCellDef>License Type</th>
        <td mat-cell *matCellDef="let element">{{element.applicationinfo6 | license:'-'}}</td>
      </ng-container>
      <ng-container matColumnDef="companyType">
        <th mat-header-cell *matHeaderCellDef>Company Type</th>
        <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
      </ng-container>
      <ng-container matColumnDef="companyAreaType">
        <th mat-header-cell *matHeaderCellDef>Company AreaType</th>
        <td mat-cell *matCellDef="let element">{{ element.companyAreaType }}</td>
      </ng-container>
      <ng-container matColumnDef="industryType">
        <th mat-header-cell *matHeaderCellDef>Industry Type</th>
        <td mat-cell *matCellDef="let element">{{ element.industryType }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button style="color:green;" (click)="approve(row.companyID)" *ngIf="showApprove" matTooltipClass="tooltip-green"
            matTooltip="Card Print Approved"><i class="material-icons">offline_pin</i></button>
          <button mat-raised-button style="color:green;" (click)="downloadFile(row.companyCode)" *ngIf="showApprove" matTooltipClass="tooltip-green"
            matTooltip="Download Card to be Printed"><i class="material-icons">print</i></button>
          <button mat-raised-button color="warn" (click)="reject(row.companyID)" *ngIf="showReject" matTooltipClass="tooltip-red"
            matTooltip="Card Print Rejected"><i class="material-icons">highlight_off</i></button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
