<div class="mat-elevation-z8">
  <mat-form-field class="search">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort matSortActive="applicantID" matSortDirection="desc" class="mat-elevation-z8">

    <ng-container matColumnDef="applicantID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.applicantID }}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.title  }} {{ element.firstName  }} {{ element.surName }}</td>
    </ng-container>
    <ng-container matColumnDef="emailID">
      <th mat-header-cell *matHeaderCellDef>EMail</th>
      <td mat-cell *matCellDef="let element">{{ element.emailID }}</td>
    </ng-container>
    <ng-container matColumnDef="phoneNo">
      <th mat-header-cell *matHeaderCellDef>Phone No</th>
      <td mat-cell *matCellDef="let element">{{ element.phoneNo }}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef>Country</th>
      <td mat-cell *matCellDef="let element">{{ element.country }}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="warn" class="gridbutton"><i class="material-icons" (click)="edit(row.applicantID)" matTooltipClass="tooltip-yellow"
            matTooltip="Edit Applicant Details" matTooltipPosition="left">edit</i></button>
        <app-file-upload (click)="attach(row)" matTooltip="Upload Files For Applicants" matTooltipClass="tooltip-blue" matTooltipPosition="right">
        </app-file-upload>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
