table {
  width: 100%;
}

th {
  background-color: #303f9f;
  color: white;
  font-size: 1em;
}

.search {
  float: right;
  width: 300px;
}

.tooltip-red {
  background: #f44336;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-yellow {
  background: #e65100;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-blue {
  background: #3f51b5;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-green {
  background: #1b5e20;
  font-family: 'Varela Round', sans-serif;
}
