.tooltip-red {
  background: #f44336;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-yellow {
  background: #e65100;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-blue {
  background: #3f51b5;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-green {
  background: #1b5e20;
  font-family: 'Varela Round', sans-serif;
}

.mat-dialog-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}
