<mat-dialog-content class="mat-typography">
  <style>
    .my-drop-zone {
      border: dotted 3px lightgray;
      height: 200px;
    }

    .nv-file-over {
      border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
      border: dotted 5px green;
      height: 200px;
    }

    html,
    body {
      height: 100%;
    }

  </style>
  <div class="container">
    <mat-chip-list *ngIf="companyObject" class="mat-chip-list-stacked">
      <h3> Issue Application for Company : </h3>
      <!-- <mat-chip color="primary" selected style="height: auto ;width: auto">-->
      <!-- {{companyObject.companyName}}-->
      <div class="row" style="height: 50%">
        <label style="color: brown;font: bold;">Company Code : </label>{{companyObject.companyCode}}
        <br>
        <label style="color:brown;font: bold"> Company Name :</label> {{companyObject.companyName}}
        <br>
        <label style="color:brown;font: bold"> Company E-Mail :</label> {{companyObject.emailID}}
        <br>
        <label style="color: brown;font: bold"> Company Type :</label> {{companyObject.companyType}}
        <br>
        <label style="color: brown;font: bold"> Company Area Type :</label> {{companyObject.companyAreaType}}
        <br>
        <label style="color: brown;font: bold"> Company License :</label> {{companyObject.applicationinfo6}}
        <!--<br>
          <label style="color: brown;font: bold"> Company Country :</label> {{companyObject.country}}-->
      </div>
      <!-- </mat-chip>-->
    </mat-chip-list>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field [ngStyle]="{'width': '500px'}">
          <mat-select placeholder="Apply Type" [(ngModel)]="selectedLevel">
            <mat-option *ngFor="let item of applyTypeMasterFiltered"
              value="{{item.typeCode}}-{{item.applyType}}-{{item.year}}-{{item.companyType}}-{{item.companyAreaType}}-{{item.receiptType}}">
              {{item.typeCode}}-{{item.applyType}}-{{item.year}}-{{item.companyType}}-{{item.companyAreaType}}-{{item.receiptType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <mat-chip-list *ngIf="!isDropdownsLoaded" class="mat-chip-list-stacked">
        <mat-chip color="warn" selected style="height: auto ;width: auto">
          Dropdown Lists are loading Please wait !!
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="row">
      <div class="col-md-3" *ngIf="applyTypeMasterFiltered.length">
        <button mat-raised-button color="primary" (click)="updateIssueReceipt(selectedLevel);" *ngIf="!isDownloadApplicationDoc && isDropdownsLoaded">Issue
          Application</button>
      </div>
      <div class="col-md-3" *ngIf="isDownloadApplicationPdf">
        <a [href]="downloadApplicationPdfURL" download target="_blank"><button mat-raised-button color="primary">Download Application</button></a>
      </div>
      <div class="col-md-3" *ngIf="isDownloadOMRPdf">
        <a [href]="downloadOMRPdfURL" download target="_blank"><button mat-raised-button color="primary">Download OMR</button></a>
      </div>
      <div class="col-md-3" *ngIf="isDownloadApplicationDoc">
        <a [href]="downloadapplicationDocPath" download target="_blank"><button mat-raised-button color="primary">Download Doc</button></a>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" style="padding-top:11%">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
