<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push">

    <mat-toolbar>
      <mat-toolbar-row>
        <h2>Trade Suite v2.0</h2>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-nav-list>
      <h2 matSubheader>Home</h2>
      <a *ngFor="let item of loginRoute" mat-list-item (click)="sidenav.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
        [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>
        {{item.title}}
      </a>
      <mat-divider></mat-divider>

    </mat-nav-list>

    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Apply Type
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of applyTypeRoutes" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              HS Masters
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of hsMasterRoutes" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon>
            {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Bank
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of bankmasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Organization
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of organizationmasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of accountMasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Document
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of documentMasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Employee
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of employeeMasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Report
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of reportMasters" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Other
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let item of otherRoutes" mat-list-item (click)="sidenav.close();" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
            [class.list-item-active]="routerLinkActiveInstance.isActive" [routerLink]="[item.route]">
            <mat-icon matListIcon> {{ item.icon }} </mat-icon> {{item.title}}
          </a>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-navigation-bar *ngIf="isAuthenticated()" (toggleSidenav)="sidenav.toggle()">
    </app-navigation-bar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
