<mat-dialog-content class="mat-typography">
  <style>
    .my-drop-zone {
      border: dotted 3px lightgray;
      height: 200px;
    }

    .nv-file-over {
      border: dotted 3px red;
    }

    /* Default class applied to drop zones on over */
    .another-file-over-class {
      border: dotted 5px green;
      height: 200px;
    }

    html,
    body {
      height: 100%;
    }

  </style>
  <div class="container">
    <div style="margin-top:10px;">
      <mat-chip-list *ngIf="isApplicantObject" class="mat-chip-list-stacked">
        <p class="font"> Upload Documents for Applicant </p>
        <mat-chip color="primary" selected style="height: auto ;width: auto">
          {{applicantObject.firstName}} {{applicantObject.surName}}
        </mat-chip>
      </mat-chip-list>
      <mat-chip-list *ngIf="isComapnyObject" class="mat-chip-list-stacked">
        <p class="font"> Upload Documents for Company </p>
        <mat-chip color="primary" selected style="height: auto ;width: auto">
          {{comapnyObject.companyName}}
        </mat-chip>
      </mat-chip-list>
      <div class="row">

      </div>
      <button mat-raised-button color="primary" type="button" (click)="getUploadedImages()">
        <i class="material-icons">
          cloud_download
        </i> Verify Images
      </button>
      <table *ngIf="uploadedImages.length" style="margin-top: 10px;">
        <p class="font"> Already Uploaded Images</p>
        <tr>
          <mat-card>
            <td *ngFor="let item of uploadedImages">
              <div class="imgContainer">
                <div>
                  <img [src]="sanitizer.bypassSecurityTrustUrl(item['image'])"
                    style="border-radius: 3px solid #fff; max-width:250px; max-height:250px;padding: 10px;">
                </div>
                <div class="imgButton">
                  <button mat-raised-button color="warn" type="button" (click)="deleteImage(item['id'])">
                    <i class="material-icons">
                      delete_forever
                    </i> </button>
                </div>
              </div>
            </td>
          </mat-card>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-md-9" style="margin-bottom: 40px" [formGroup]="form">
        <p class="font">Upload Queue</p>
        <p class="font">Queue Length: {{ uploader?.queue?.length }}</p>
        <table class="table" formArrayName="documentTypeArray">
          <thead>
            <tr>
              <th width="20%">Image Preview</th>
              <th width="20%">Name</th>
              <th width="30%">Document Type</th>
              <th width="50%">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of uploader.queue;let i = index" [formGroupName]="i">
              <td *ngIf="imagePath.length>0" class="zoom">
                <img [src]="sanitizer.bypassSecurityTrustUrl(imagePath[i])"
                  style="border-radius: 3px solid #fff; max-width:100px; max-height:100px;padding: 10px;">
              </td>
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="col-md-3">
                  <mat-form-field class="full-width-input">
                    <mat-select placeholder="Document Type" formControlName="documentType">
                      <mat-option *ngFor="let item of documentMasterTypeArray" value={{item.docDescription}}>{{item.docDescription}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <button mat-raised-button color="primary" type="button" (click)="saveImages(i)"
                  [disabled]="item.isReady || item.isUploading || item.isSuccess || pendingUploadCount ==0">
                  <i class="material-icons">
                    cloud_upload
                  </i> Upload
                </button>
                <button mat-raised-button color="warn" type="button" (click)="item.remove();removePreview(i)">
                  <i class="material-icons">
                    delete_forever
                  </i> Remove
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <p class="font">Overall Upload Progress : {{findAverageOfArray(uploadProgressArray)}} %</p>
          <mat-progress-bar mode="determinate" [value]="findAverageOfArray(uploadProgressArray)"></mat-progress-bar>
          <p class="font"></p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <button mat-raised-button color="primary" type="button" (click)="saveImages();"
              [disabled]="!uploader.getNotUploadedItems().length || pendingUploadCount ==0">
              <i class="material-icons">
                cloud_upload
              </i> Upload All
            </button>
          </div>
          <div class="col-md-3">
            <button mat-raised-button color="warn" type="button" (click)="uploader.clearQueue();removeAllPreview()" [disabled]="!uploader.queue.length">
              <i class="material-icons">
                delete_forever
              </i> Remove All
            </button>
          </div>
        </div>
        <!--
        <div style="margin-top:10px"></div>
        <table>
          <mat-card *ngIf="imagePath.length>0">
            <td *ngFor="let item of imagePath"><img [src]="sanitizer.bypassSecurityTrustUrl(item)"
                style="border-radius: 3px solid #fff; max-width:250px; max-height:250px;padding: 10px;"></td>
          </mat-card>
        </table>
        -->
      </div>

    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div ng2FileDrop style="width:85%; margin-right: 5%" [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}" (fileOver)="fileOverAnother($event)"
    [uploader]="uploader" class="well my-drop-zone">
    Drop your files here
  </div>
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
