img {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

.row {
	margin-top: 28px;
}

.h {
	margin-top: 20px;
	font-size: 23px;
}

.font {
	font-size: 20px;
}

.btn {
	margin-right: 10px;
}

.mat-progress-bar {
	/* color: red; */
	display: block;
	height: 25px;
	overflow: hidden;
	position: relative;
	transition: opacity 250ms linear;
	width: 100%;
}
.imgButton {
	text-align: center;
}

.zoom {
	padding: 50px;
	transition: transform .4s; /* Animation */
	width: 200px;
	height: 200px;
	margin: 0 auto;
}

.zoom:hover {
	transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
