<!--The content below is only a placeholder and can be replaced.-->
<!--<app-navbar class="mat-elevation-z10"> </app-navbar>-->
<app-sidenav-bar class="mat-elevation-z10"></app-sidenav-bar>
<ng4-loading-spinner [threshold]="10" [timeout]="300000"> </ng4-loading-spinner>
<p><strong>{{idleState}}</strong></p>
<p *ngIf="lastPing"><small>Last keepalive ping <strong>{{lastPing}}</strong></small></p>
<button (click)="reset()" *ngIf="timedOut">Restart</button>
<app-login></app-login>
