<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('organizationlogoMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Organization Logo Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Image " formControlName="image_" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Image Description" formControlName="image_Description" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('organizationlogoMasters').value);openSnackBar()"
                  [disabled]="!(form.get('organizationlogoMasters').valid)"   matTooltip="Submit Organization Logo Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('organizationlogoMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('organizationlogoMasters').valid)"   matTooltip="Update Organization Logo Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="nationalityID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="image_">
          <th mat-header-cell *matHeaderCellDef>image</th>
          <td mat-cell *matCellDef="let element">{{ element.image_ }}</td>
        </ng-container>
        <ng-container matColumnDef="image_Description">
          <th mat-header-cell *matHeaderCellDef> Image Description</th>
          <td mat-cell *matCellDef="let element">{{ element.image_Description }}</td>
        </ng-container>
        <ng-container matColumnDef="created_By">
          <th mat-header-cell *matHeaderCellDef>Created By</th>
          <td mat-cell *matCellDef="let element">{{ element.created_By }}</td>
        </ng-container>
        <ng-container matColumnDef="edited_By">
          <th mat-header-cell *matHeaderCellDef>Edited By</th>
          <td mat-cell *matCellDef="let element">{{ element.edited_By }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button color="primary" style="width:3px"><i class="material-icons" (click)="edit(row.id)"   matTooltip="Edit OrganizationLogo Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
    <!--        <button mat-raised-button color="warn" (click)="delete(row.id);deleteSnackBar()">
              <i class="material-icons"   matTooltip="Delete OrganizationLogo Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
