.tooltip-red {
  background: #f44336;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-yellow {
  background: #e65100;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-blue {
  background: #3f51b5;
  font-family: 'Varela Round', sans-serif;
}

.tooltip-green {
  background: #1b5e20;
  font-family: 'Varela Round', sans-serif;
}

img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.row {
  margin-top: 28px;
}

.h {
  margin-top: 20px;
  font-size: 23px;
}

.font {
  font-size: 20px;
}

.btn {
  margin-right: 10px;
}
