<div class="container" [formGroup]="form">

  <div class="row">
    <div class="col-md-12">
      <h3>{{componentName}}</h3>
    </div>
  </div>
  <button mat-raised-button color="primary" color="primary" matTooltip="Go Back" matTooltipPosition="right" (click)="goBack()"><i class="material-icons">
      arrow_back
    </i>Go Back</button>
  <div class="row col-md-12">
    <mat-chip-list class=" mat-chip-list-stacked">
      <h4>Verify Documents For</h4>
      <mat-chip color="primary" selected style="height: auto ;width: auto">
        {{companyObject.companyName}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <p class="h"> Already Uploaded Images</p>
  <div style="width : 100%; height:100%;overflow-x: auto">
    <table *ngIf="uploadedImages.length">
      <td *ngFor="let item of uploadedImages;let i=index" formArrayName="documentCheckListArray"><img [src]="sanitizer.bypassSecurityTrustUrl(item)"
          style="border-radius: 3px solid #fff; max-width:500px; max-height:500px;padding: 10px;">
        <mat-select placeholder="Document Type" [formControlName]="i">
          <mat-option *ngFor="let item of documentMasterTypeArray" value={{item.docDescription}}>{{item.docDescription}}</mat-option>
        </mat-select>
      </td>
    </table>
  </div>
  <div class="row col-md-12" *ngIf="uploadedImages.length">
    <button mat-raised-button color="primary" (click)="updateVerifyDocuments(form.value)" [disabled]="isVerifiedDocuments">
      Verify Documents
    </button>
  </div>
</div>
