<div class="container">


  <div class="row">
    <!-- <marquee scrollamount="30">
      <h5 style="text-align: center;font-size: 40px;color: white;padding-top: 30px;padding-bottom: 30px; font-weight: 800">Welcome To TradeSuite</h5>
    </marquee>  -->
    <h5 style="text-align: center;font-size: 40px;color: white;padding-top: 30px;padding-bottom: 30px; font-weight: 800">Welcome To TradeSuite</h5>
    <div class="rowcenter">
      <img src="../../../assets/TradeLogo.png" height="100" width="100" />
    </div>

    <div class="main-div">
      <mat-card class="z-depth center" flex="50">
        <div id="form">
          <mat-card-header class="main-div">
            <mat-card-title style="font-size: 30px;font-weight: 600">Login</mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding-left:6%;padding-top: 5%">
            <form [formGroup]="formGroup" class="main-div">
              <table cellspacing="0" style="width:100%">
                <tr>
                  <td>
                    <i class="material-icons">
                      person
                    </i>
                    <mat-form-field style="width:70%">
                      <input matInput style="border: white" placeholder="Username" formControlName="UserName" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="material-icons">
                      lock
                    </i>
                    <mat-form-field style="width:70%">
                      <input matInput placeholder="Password" type="password" formControlName="PasswordHash" />
                    </mat-form-field>
                </tr>
              </table>
            </form>
          </mat-card-content>
          <mat-card-actions class="main-div">
            <button mat-raised-button (click)="onSubmit()" color="primary" [disabled]="formGroup.invalid">Login</button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
  </div>
</div>
