i {
  margin-right: 5%;
}

button {
  text-align: center;
}

.post {
  vertical-align: bottom;
  box-shadow: transparent;
}

.img {
  margin-left: 45%;
}

.img {
  margin-left: 45%;
}

.container {
  background-color: #000080;
  background-image: url('https://image.freepik.com/free-photo/container-terminal-wharf-transport_1205-1191.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.rowcenter {
  margin: auto;
  max-width: 100px;
}


.center {
  width: 20%;
  margin: 8% auto;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
