<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('userRoleMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>User Role Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="User Name" formControlName="user_Code">
              <mat-option *ngFor="let item of employeeMaster" value="{{item.employee_Master_ID}}">{{item.emp_First_Name}} {{item.emp_Last_Name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="Menu Routes" formControlName="mainMenu">
              <mat-option *ngFor="let item of menuLinks" value="{{item.controller}}">{{item.controller}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="reaD_Access">Read Access</mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="writE_Access">Write Access</mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="deletE_Access">Delete Access</mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="ediT_Access">Edit Access</mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="prinT_Access">Print Access</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="approvaL_Access">Approval Access</mat-checkbox>
        </div>

        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="fulL_Access">Full Access</mat-checkbox>
        </div>
        <div class="col-md-2">
          <mat-checkbox class="example-margin" formControlName="canceL_Access">Cancel Access</mat-checkbox>
        </div>
      </div>

    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('userRoleMasters').value);"
            matTooltip="Submit UnitType Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('userRoleMasters').value);" matTooltip="Update UnitType Details"
            matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>

    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="user_Menu_Right_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="user_Menu_Right_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
          <td mat-cell *matCellDef="let element">{{ element.user_Menu_Right_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="user_Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>User Code</th>
          <td mat-cell *matCellDef="let element">{{element.user_Code}}</td>
        </ng-container>
        <ng-container matColumnDef="reaD_Access">
          <th mat-header-cell *matHeaderCellDef>Read</th>
          <td mat-cell *matCellDef="let element">{{ element.reaD_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="writE_Access">
          <th mat-header-cell *matHeaderCellDef>Write</th>
          <td mat-cell *matCellDef="let element">{{ element.writE_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="deletE_Access">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let element">{{ element.deletE_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="ediT_Access">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let element">{{ element.ediT_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="prinT_Access">
          <th mat-header-cell *matHeaderCellDef>Print</th>
          <td mat-cell *matCellDef="let element">{{ element.prinT_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="approvaL_Access">
          <th mat-header-cell *matHeaderCellDef>Approval</th>
          <td mat-cell *matCellDef="let element">{{ element.approvaL_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="fulL_Access">
          <th mat-header-cell *matHeaderCellDef>Full</th>
          <td mat-cell *matCellDef="let element">{{ element.fulL_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="canceL_Access">
          <th mat-header-cell *matHeaderCellDef>Cancle</th>
          <td mat-cell *matCellDef="let element">{{ element.canceL_Access }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.user_Menu_Right_ID)"
                matTooltip="Edit UnitBranch Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!--   <button mat-raised-button color="warn" (click)="delete(row.user_Menu_Right_ID);deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete UnitBranch Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
