<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('feeTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Fee Master</h3>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput [attr.disabled]="editMode == true" placeholder="Fee Type Header" formControlName="feeTypeHeader" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Percentage" formControlName="percentage" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Cost" formControlName="cost" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Arrears" formControlName="arrears" />
          </mat-form-field>
        </div>

      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="New" formControlName="new" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Renewal" formControlName="renewal" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Penalty" formControlName="penalty" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="DelayTime" formControlName="delayTime" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Remark" formControlName="remark" />
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('feeTypeMasters').value); openSnackBar()" [disabled]="!(form.get('feeTypeMasters').valid)"
            matTooltip="Submit FeeType  Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('feeTypeMasters').value); updateSnackBar()"
            [disabled]="!(form.get('feeTypeMasters').valid)" matTooltip="Update FeeType Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="feeTypeID" matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="feeTypeID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fee ID</th>
          <td mat-cell *matCellDef="let element">{{ element.feeTypeID }}</td>
        </ng-container>
        <ng-container matColumnDef="feeTypeCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
          <td mat-cell *matCellDef="let element">{{ element.feeTypeCode }}</td>
        </ng-container>
        <ng-container matColumnDef="feeTypeHeader">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>FeeType Header</th>
          <td mat-cell *matCellDef="let element">{{ element.feeTypeHeader }}</td>
        </ng-container>
        <ng-container matColumnDef="percentage">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
          <td mat-cell *matCellDef="let element">{{ element.percentage }}</td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost</th>
          <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
        </ng-container>
        <ng-container matColumnDef="arrears">
          <th mat-header-cell *matHeaderCellDef>Arrears</th>
          <td mat-cell *matCellDef="let element">{{ element.arrears }}</td>
        </ng-container>
        <ng-container matColumnDef="new">
          <th mat-header-cell *matHeaderCellDef>New</th>
          <td mat-cell *matCellDef="let element">{{ element.new }}</td>
        </ng-container>
        <ng-container matColumnDef="renewal">
          <th mat-header-cell *matHeaderCellDef>Renewal</th>
          <td mat-cell *matCellDef="let element">{{ element.renewal }}</td>
        </ng-container>
        <ng-container matColumnDef="penalty">
          <th mat-header-cell *matHeaderCellDef>Penalty</th>
          <td mat-cell *matCellDef="let element">{{ element.penalty }}</td>
        </ng-container>
        <ng-container matColumnDef="delayTime">
          <th mat-header-cell *matHeaderCellDef>Delay Time</th>
          <td mat-cell *matCellDef="let element">{{ element.delayTime }}</td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef>Remark</th>
          <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.feeTypeID)" matTooltip="Edit Fee Type"
                matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!--   <button mat-raised-button color="warn" (click)="delete(row.feeTypeID); deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Fee Type" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
