<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('ApplyTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Apply Type Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Apply Type" formControlName="applyType" />
            </mat-form-field>
          </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="Year"  formControlName="year">
              <mat-option *ngFor="let item of yearMaster" value="{{item.year}}">{{item.year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '160px'}">
            <mat-select placeholder="Company Type"  formControlName="companyType">
              <mat-option *ngFor="let item of companyType" value="{{item.companyTypeDesc}}">{{item.companyTypeDesc}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
        <mat-form-field [ngStyle]="{'width': '160px'}">
          <mat-select placeholder="Receipt Type"  formControlName="receiptType">
            <mat-option *ngFor="let item of receiptType" value="{{item.receiptType}}">{{item.receiptType}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3">
        <mat-form-field [ngStyle]="{'width': '160px'}">
          <mat-select placeholder="Company Area Type" formControlName="companyAreaType">
            <mat-option *ngFor="let item of companyAreaType" value="{{item.copmanyTypeArea}}">{{item.copmanyTypeArea}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Fee For Inovice" formControlName="feeforInovice" />
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Remark" formControlName="remark" />
            </mat-form-field>
          </div>
      <div>
        <mat-form-field class="full-width-input">
          <mat-select placeholder="Status" formControlName="status">
            <mat-option value="ACTIVE">ACTIVE</mat-option>
            <mat-option value="INACTIVE">INACTIVE</mat-option>
          </mat-select>
        </mat-form-field>

      </div>

        </div>
      </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('ApplyTypeMasters').value); openSnackBar()"
                  [disabled]="!(form.get('ApplyTypeMasters').valid)" matTooltip="Submit Apply type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('ApplyTypeMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('ApplyTypeMasters').valid)" matTooltip="Update Apply type Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>


    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="typeOfApplyID" matSortDirection="desc" class="mat-elevation-z8">


        <ng-container matColumnDef="typeOfApplyID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TypeOfApply ID</th>
          <td mat-cell *matCellDef="let element">{{ element.typeOfApplyID }}</td>
        </ng-container>
        <ng-container matColumnDef="typeCode">
          <th mat-header-cell *matHeaderCellDef>Apply Type</th>
          <td mat-cell *matCellDef="let element">{{ element.typeCode }}-{{ element.applyType}}-{{ element.year }}-{{ element.companyType }}-{{ element.companyAreaType }}-{{ element.receiptType }}</td>
        </ng-container>
        <ng-container matColumnDef="feeforInovice">
          <th mat-header-cell *matHeaderCellDef>Fee for Invoice</th>
          <td mat-cell *matCellDef="let element">{{ element.feeforInovice }}</td>
        </ng-container>
        <ng-container matColumnDef="remark">
          <th mat-header-cell *matHeaderCellDef>Remark</th>
          <td mat-cell *matCellDef="let element">{{ element.remark }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.typeOfApplyID)" matTooltip="Edit Apply type Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>

          </mat-cell>
          <!--  <button mat-raised-button color="warn" (click)="delete(row.typeOfApplyID); deleteSnackBar()">
              <i class="material-icons" matTooltip="Submit Apply type Details" matTooltipClass="tooltip-blue"
                 matTooltipPosition="right"matTooltip="Delete Apply type Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
