<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('taxMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>TAX Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Age From" formControlName="age_From" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Age To" formControlName="age_To" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Tax Name" formControlName="tax_Name" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Percentage Tax" formControlName="percentage_Tax" />
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('taxMasters').value);openSnackBar()"
                  [disabled]="!(form.get('taxMasters').valid)" matTooltip="Submit Tax Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('taxMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('taxMasters').valid)" matTooltip="Update Tax Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="tax_Master_ID" matSortDirection="desc" class="mat-elevation-z8">
        <ng-container matColumnDef="tax_Master_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax ID</th>
          <td mat-cell *matCellDef="let element">{{ element.tax_Master_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="tax_Code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Code</th>
          <td mat-cell *matCellDef="let element">{{ element.tax_Code }}</td>
        </ng-container>
        <ng-container matColumnDef="age_From">
          <th mat-header-cell *matHeaderCellDef>Age From</th>
          <td mat-cell *matCellDef="let element">{{ element.age_From }}</td>
        </ng-container>
        <ng-container matColumnDef="age_To">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Age To</th>
          <td mat-cell *matCellDef="let element">{{ element.age_To }}</td>
        </ng-container>
        <ng-container matColumnDef="tax_Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Name</th>
          <td mat-cell *matCellDef="let element">{{ element.tax_Name }}</td>
        </ng-container>
        <ng-container matColumnDef="percentage_Tax">
          <th mat-header-cell *matHeaderCellDef>Percentage Tax</th>
          <td mat-cell *matCellDef="let element">{{ element.percentage_Tax }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.tax_Master_ID)" matTooltip="Edit Tax Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
            <!--     <button mat-raised-button color="warn" (click)="delete(row.tax_Master_ID);deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Tax Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
