<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Application Issue</h3>
    </div>
  </div>

  <mat-tab-group (selectedTabChange)="changeTableFilter($event)" animationDuration="2000ms" mat-stretch-tabs>
    <mat-tab label="Pending">
      <mat-chip color="primary" selected>Pending Companies</mat-chip>
    </mat-tab>
    <mat-tab label="Approved">
      <mat-chip color="accent" selected>Approved Companies</mat-chip>
    </mat-tab>
    <mat-tab label="Processed">
      <mat-chip color="primary" selected>Processed Companies</mat-chip>
    </mat-tab>
  </mat-tab-group>

  <div class="row">
    <mat-chip-list class="mat-chip-list-stacked pull-right">
      <mat-chip color="primary" selected style="right:20%">
        Total Records : {{paginator.length}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <div class="mat-elevation-z8">
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilters($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="companyID" matSortDirection="desc" class="mat-elevation-z8">

      <ng-container matColumnDef="companyID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</th>
        <td mat-cell *matCellDef="let element">{{ element.companyID }}</td>
      </ng-container>
      <ng-container matColumnDef="companyCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Service Code</th>
        <td mat-cell *matCellDef="let element">{{ element.companyCode }}</td>
      </ng-container>
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>
      <ng-container matColumnDef="applicationinfo6">
        <th mat-header-cell *matHeaderCellDef>License Type</th>
        <td mat-cell *matCellDef="let element">{{element.applicationinfo6 | license:'-'}}</td>
      </ng-container>
      <ng-container matColumnDef="companyType">
        <th mat-header-cell *matHeaderCellDef>Company Type</th>
        <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
      </ng-container>
      <ng-container matColumnDef="companyAreaType">
        <th mat-header-cell *matHeaderCellDef>Company AreaType</th>
        <td mat-cell *matCellDef="let element">{{ element.companyAreaType }}</td>
      </ng-container>
      <ng-container matColumnDef="industryType">
        <th mat-header-cell *matHeaderCellDef>Industry Type</th>
        <td mat-cell *matCellDef="let element">{{ element.industryType }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>
      <ng-container matColumnDef="isApplicaitonIssued">
        <th mat-header-cell *matHeaderCellDef>Application Issued</th>
        <td mat-cell *matCellDef="let element">{{ element.isApplicaitonIssued ? 'Yes' :'No'}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
        <mat-cell *matCellDef="let row">
          <app-applicantion-issue (click)="attach(row)" matTooltipClass="tooltip-blue" matTooltip="Issue Application for Company" matTooltipPosition="left"
            *ngIf="showApprove"></app-applicantion-issue>
          <!-- <button mat-raised-button color="primary" (click)="approve(row.companyID)" *ngIf="showApprove" matTooltipClass="tooltip-green"
            matTooltip="Approve as Application Issued" matTooltipPosition="below" class="gridbutton"><i class="material-icons">offline_pin</i></button>-->
          <button mat-raised-button color="primary" (click)="approve(row.companyID)" *ngIf="showApprove" matTooltipClass="tooltip-green"
            matTooltip="Approve as Application Issued" matTooltipPosition="below" [disabled]="!row.applicationinfo6" class="gridbutton"><i
              class="material-icons">offline_pin</i></button>
          <button mat-raised-button color="warn" (click)="reject(row.companyID)" *ngIf="showReject" matTooltipClass="tooltip-green"
            matTooltip="Reject as Application Issued" matTooltipPosition="right" class="gridbutton"><i class="material-icons">highlight_off</i></button>
          <button mat-raised-button color="primary" (click)="clone(row.companyID)" *ngIf="showApprove" matTooltip="Add another Service for Same Company"
            matTooltipPosition="below" matTooltipClass="tooltip-blue" class="gridbutton"><i class="material-icons">library_add</i></button>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
  </div>
</div>
