<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeLeaveMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Leave Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Employee ID" formControlName="emp_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Leave Code" formControlName="leave_code" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Number of days" formControlName="no_Of_Days" />
          </mat-form-field>
        </div>

          <div class="col-md-3">
            <mat-form-field class="full-width-input">
              <mat-select placeholder="Status" formControlName="status">
                <mat-option value="ACTIVE">ACTIVE</mat-option>
                <mat-option value="INACTIVE">INACTIVE</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('employeeLeaveMasters').value); openSnackBar()"
                  [disabled]="!(form.get('employeeLeaveMasters').valid)" matTooltip="Submit Leave Grade Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeLeaveMasters').value); updateSnackBar()"
                  [disabled]="!(form.get('employeeLeaveMasters').valid)" matTooltip="Update Employee Leave Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="employee_Leave_Master_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="employee_Leave_Master_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Leave ID</th>
          <td mat-cell *matCellDef="let element">{{ element.employee_Leave_Master_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_ID">
          <th mat-header-cell *matHeaderCellDef>Employee ID</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="leave_code">
          <th mat-header-cell *matHeaderCellDef>Leave Code</th>
          <td mat-cell *matCellDef="let element">{{ element.leave_code }}</td>
        </ng-container>
        <ng-container matColumnDef="no_Of_Days">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Days</th>
          <td mat-cell *matCellDef="let element">{{ element.no_Of_Days }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.employee_Leave_Master_ID)" matTooltip="Edit Employee Leave " matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
           <!-- <button mat-raised-button color="warn" (click)="delete(row.employee_Leave_Master_ID); deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete Employee Grade " matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
