<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('employeeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Employee Master</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="First Name" formControlName="emp_First_Name" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Last Name" formControlName="emp_Last_Name" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Employee Type" formControlName="emp_Type" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="dojPicker" formControlName="emp_Joining_Date" placeholder="Date Of Joining" />
            <mat-datepicker-toggle matSuffix [for]="dojPicker"></mat-datepicker-toggle>
            <mat-datepicker #dojPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="Organization" formControlName="org_ID">
              <mat-option *ngFor="let item of organisationMaster" value="{{item.organization_Code}}  ">{{item.organization_Name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="Unit Organization" formControlName="unit_Org_ID">
              <mat-option *ngFor="let item of UnitorganisationMaster" value="{{item.unit_Code}}">{{item.unit_Name}} </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field [ngStyle]="{'width': '170px'}">
            <mat-select placeholder="Branch Organization" formControlName="branch_Org_ID">
              <mat-option *ngFor="let item of BranchorganisationMaster" value="{{item.branchOrgID}}">{{item.description}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option value="MALE">MALE</mat-option>
              <mat-option value="FEMALE">FEMALE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="dobPicker" formControlName="date_Of_Birth" placeholder="Date Of Birth" />
            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
            <mat-datepicker #dobPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Department" formControlName="department" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Marital Status" formControlName="marital_Status" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Qualification" formControlName="qualification" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Experience year" formControlName="experience_Year" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Designation" formControlName="designation" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Grade" formControlName="grade" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Location" formControlName="location" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Reporting To" formControlName="reporting_To" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Mail Id" formControlName="mail_ID" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Mobile" formControlName="mobile" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Pan Number" formControlName="pan_No" />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="PF Number" formControlName="pF_No" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Service Compilation" formControlName="emp_Service_Complition" />
          </mat-form-field>
        </div>
        <div class="col-md-3">

          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="ertdPicker" formControlName="emp_Registration_Termination_Date" placeholder="Registration Termination Date" />
            <mat-datepicker-toggle matSuffix [for]="ertdPicker"></mat-datepicker-toggle>
            <mat-datepicker #ertdPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">

          <mat-form-field class="full-width-input">
            <input matInput [matDatepicker]="esdPicker" formControlName="emp_Settlement_Date" placeholder="Employee Settlement  Date" />
            <mat-datepicker-toggle matSuffix [for]="esdPicker"></mat-datepicker-toggle>
            <mat-datepicker #esdPicker disabled="false"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Intials" formControlName="initials" />
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('employeeMasters').value); openSnackBar()" [disabled]="!(form.get('employeeMasters').valid)"
            matTooltip="Submit Employee Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('employeeMasters').value); updateSnackBar()"
            [disabled]="!(form.get('employeeMasters').valid)" matTooltip="Update Employee Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="employee_Master_ID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="emp_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee ID</th>
          <td mat-cell *matCellDef="let element">{{ element.employee_Master_ID }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_Code">
          <th mat-header-cell *matHeaderCellDef>Employee Code</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_Code }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_First_Name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_First_Name }} {{element.emp_Last_Name}}</td>
        </ng-container>
        <ng-container matColumnDef="emp_Type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee Type</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_Type }}</td>
        </ng-container>
        <ng-container matColumnDef="emp_Joining_Date">
          <th mat-header-cell *matHeaderCellDef>Joining Date</th>
          <td mat-cell *matCellDef="let element">{{ element.emp_Joining_Date }}</td>
        </ng-container>
        <ng-container matColumnDef="date_Of_Birth">
          <th mat-header-cell *matHeaderCellDef>DOB</th>
          <td mat-cell *matCellDef="let element">{{ element.date_Of_Birth }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.employee_Master_ID)"
                matTooltip="Edit Employee Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!-- <button mat-raised-button color="warn" (click)="delete(row.employee_Master_ID); deleteSnackBar()"><i class="material-icons" matTooltip="Delete Employee Details" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
