<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('companyTypeMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Company Type Master</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Company Description" formControlName="companyTypeDesc" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" matTooltip="Reset the Form" matTooltipClass="tooltip-red" (click)="reset()">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary"
            (click)="add(form.get('companyTypeMasters').value); openSnackBar()" [disabled]="!(form.get('companyTypeMasters').valid)"
            matTooltip="Submit Applicant Details" matTooltipClass="tooltip-blue">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red"
            matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('companyTypeMasters').value); updateSnackBar()"
            [disabled]="!(form.get('companyTypeMasters').valid)">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="compnanyTypeID" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="compnanyTypeID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Compnany Type ID</th>
          <td mat-cell *matCellDef="let element">{{ element.compnanyTypeID }}</td>
        </ng-container>
        <ng-container matColumnDef="companyCode">
          <th mat-header-cell *matHeaderCellDef>Company Code</th>
          <td mat-cell *matCellDef="let element">{{ element.companyCode }}</td>
        </ng-container>
        <ng-container matColumnDef="companyTypeDesc">
          <th mat-header-cell *matHeaderCellDef>Company Type Description</th>
          <td mat-cell *matCellDef="let element">{{ element.companyTypeDesc }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button style="width:3px;color: #e65100;"><i class="material-icons" (click)="edit(row.compnanyTypeID)"
                matTooltip="Edit CompnayType" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
          <!-- <button mat-raised-button color="warn" (click)="delete(row.compnanyTypeID); deleteSnackBar();"><i class="material-icons"
                matTooltip="Delete CompanyType" matTooltipClass="tooltip-red" matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
