<div class="container" [ngStyle]="{'margin': '50px'}" [formGroup]="form">
  <div class="row">
    <div class="col-md-12">
      <h3>Form Collection</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <mat-form-field class="full-width-input">
        <input matInput formControlName="inputCompanyCode" value={{companyCode}} placeholder="Enter Company Code" />
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <button class="btn" mat-raised-button color="primary" (click)="findCompanyDetails(form.get('inputCompanyCode').value)">
        Find
      </button>
    </div>
  </div>
  <mat-card *ngIf="compmayDetailArray.companyCode">
    <div class="row" style="height: 50%">
      <label style="color: brown;font: bold;">Company Code : </label>{{compmayDetailArray.companyCode}}
      <br>
      <label style="color:brown;font: bold"> Company Name :</label> {{compmayDetailArray.companyName}}
      <br>
      <label style="color:brown;font: bold"> Company E-Mail :</label> {{compmayDetailArray.emailID}}
      <br>
      <label style="color: brown;font: bold"> Company Type :</label> {{compmayDetailArray.companyType}}
      <br>
      <label style="color: brown;font: bold"> Company Area Type :</label> {{compmayDetailArray.companyAreaType}}
      <br>
      <label style="color: brown;font: bold"> Company License :</label> {{compmayDetailArray.applicationinfo6}}
      <br>
      <label style="color: brown;font: bold"> Company Country :</label> {{compmayDetailArray.country}}
    </div>
  </mat-card>
  <div class="row">
    <div class="col-md-6">
      <mat-checkbox formControlName="selectAll">
        Select/Deselect all</mat-checkbox>
    </div>
  </div>

  <div class="row" formArrayName="documentCheckListArray" *ngFor="let docNameCode of form.controls['documentCheckListArray']['controls']; let i = index">
    <mat-checkbox [formControlName]="i">
      {{documentCheckListArray[i].docNameCode}}</mat-checkbox>
  </div>

  <div class="row" *ngIf="form.controls['documentCheckListArray']['controls'].length">
    <div class="col-md-4">
      <button mat-raised-button color="primary" (click)="submitDocumentList(form.value)" [disabled]="isAllCheckBoxSelected || !enableSubmit">
        Submit Checklist
      </button>
    </div>
  </div>
</div>

<mat-dialog-actions align="end" style="padding-top: 20%">
  <button mat-raised-button mat-dialog-close color="warn">Close</button>
</mat-dialog-actions>
