<div class="container">
  <div class="company-form ">
    <div class="form-group" [formGroup]="form.get('unitbranchMasters')">
      <div class="row">
        <div class="col-md-12">
          <h3>Unit Branch Master</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Description" formControlName="description" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Remarks" formControlName="remarks" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Image" formControlName="image" />
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="full-width-input">
            <mat-select placeholder="Status" formControlName="status">
              <mat-option value="ACTIVE">ACTIVE</mat-option>
              <mat-option value="INACTIVE">INACTIVE</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" id="wrapper">
      <div *ngIf="!editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right btn" style="margin-right: 13px;" mat-raised-button color="primary" (click)="add(form.get('unitbranchMasters').value);openSnackBar()"
                  [disabled]="!(form.get('unitbranchMasters').valid)" matTooltip="Submit UnitBranch Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Submit
          </button>
        </div>
      </div>
      <div *ngIf="editMode">
        <div class="col-md-12">
          <button class="pull-right btn" mat-raised-button color="warn" (click)="reset()" matTooltip="Reset The Form" matTooltipClass="tooltip-red" matTooltipPosition="right">
            Reset
          </button>
          <button class="pull-right" mat-raised-button color="primary" (click)="update(form.get('unitbranchMasters').value);updateSnackBar()"
                  [disabled]="!(form.get('unitbranchMasters').valid)" matTooltip="Update UnitBranch Details" matTooltipClass="tooltip-blue" matTooltipPosition="right">
            Update
          </button>
        </div>
      </div>

    </div>



    <div class="mat-elevation-z8">
      <mat-form-field class="search">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let element">{{ element.description }}</td>
        </ng-container>
        <ng-container matColumnDef="image">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element">{{ element.image }}</td>
        </ng-container>
        <ng-container matColumnDef="remarks">
          <th mat-header-cell *matHeaderCellDef>Remark</th>
          <td mat-cell *matCellDef="let element">{{ element.remarks }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
          <mat-cell *matCellDef="let row">
            <button mat-raised-button  style="width:3px;color: #e65100"><i class="material-icons" (click)="edit(row.id)" matTooltip="Edit UnitBranch Details" matTooltipClass="tooltip-yellow" matTooltipPosition="right">edit</i></button>
          </mat-cell>
      <!--      <button mat-raised-button color="warn" (click)="delete(row.id);deleteSnackBar()">
              <i class="material-icons" matTooltip="Delete UnitBranch Details" matTooltipClass="tooltip-red"
                 matTooltipPosition="right">delete</i></button>-->

        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>


  </div>
</div>
