<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Choose Company For Renewal</h3>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <mat-form-field class="search">
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort matSortActive="companyID" matSortDirection="desc" class="mat-elevation-z8">

      <ng-container matColumnDef="companyID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company ID</th>
        <td mat-cell *matCellDef="let element">{{ element.companyID }}</td>
      </ng-container>
      <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef>Company Name</th>
        <td mat-cell *matCellDef="let element">{{ element.companyName }}</td>
      </ng-container>
      <ng-container matColumnDef="licenseNumber">
        <th mat-header-cell *matHeaderCellDef>License Number</th>
        <td mat-cell *matCellDef="let element">{{ element.applicationinfo5 }}</td>
      </ng-container>
      <ng-container matColumnDef="registrationNumber">
        <th mat-header-cell *matHeaderCellDef>Registration Number</th>
        <td mat-cell *matCellDef="let element">{{ element.ieRegCertificateNo }}</td>
      </ng-container>
      <ng-container matColumnDef="companyType">
        <th mat-header-cell *matHeaderCellDef>Company Type</th>
        <td mat-cell *matCellDef="let element">{{ element.companyType }}</td>
      </ng-container>
      <ng-container matColumnDef="companyAreaType">
        <th mat-header-cell *matHeaderCellDef>Company AreaType</th>
        <td mat-cell *matCellDef="let element">{{ element.companyAreaType }}</td>
      </ng-container>
      <ng-container matColumnDef="industryType">
        <th mat-header-cell *matHeaderCellDef>Industry Type</th>
        <td mat-cell *matCellDef="let element">{{ element.industryType }}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>Country</th>
        <td mat-cell *matCellDef="let element">{{ element.country }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell style="padding-left: 90px" *matHeaderCellDef>Action</th>
        <mat-cell *matCellDef="let row">
          <a routerLink="/company"><button mat-raised-button color="primary" color="primary" (click)="setCompanyForRenewal(row);setRenewal();"
              matTooltipClass="tooltip-blue" matTooltip="Select Company For Renewal" matTooltipPosition="left"><i class="material-icons">
                business_center
              </i></button></a>
        </mat-cell>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row style="height:3px;" *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
